styles/Untitled-1.json
{
  "name": "Daily Soccer Value Bets Email",
  "nodes": [
    {
      "id": "1",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 0
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Get Soccer Sports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.the-odds-api.com/v4/sports",
        "responseFormat": "json",
        "jsonParameters": false,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{$env.1879d451a69ea7bde0f2722bacdc01fa}}"
            },
            {
              "name": "all",
              "value": "false"
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Filter Leagues",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "parameters": {
        "functionCode": "const allowed = [\n  'soccer_epl',\n  'soccer_spain_la_liga',\n  'soccer_germany_bundesliga',\n  'soccer_italy_serie_a',\n  'soccer_france_ligue_1',\n];\n\nconst out = [];\n\nfor (const sport of items[0].json) {\n  if (sport.group === 'Soccer' && allowed.includes(sport.key) && sport.active) {\n    out.push({ json: { sport_key: sport.key } });\n  }\n}\n\nreturn out;"
      }
    },
    {
      "id": "4",
      "name": "Split Leagues",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "5",
      "name": "Get Odds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1250,
        250
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.the-odds-api.com/v4/sports/{{$json[\"sport_key\"]}}/odds",
        "responseFormat": "json",
        "jsonParameters": false,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{$env.THE_ODDS_API_KEY}}"
            },
            {
              "name": "regions",
              "value": "eu"
            },
            {
              "name": "markets",
              "value": "h2h,totals"
            },
            {
              "name": "oddsFormat",
              "value": "decimal"
            }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Merge Odds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "mode": "passThrough",
        "output": "input1"
      }
    },
    {
      "id": "7",
      "name": "Flatten Events",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1750,
        300
      ],
      "parameters": {
        "functionCode": "const all = [];\n\nfor (const item of items) {\n  if (Array.isArray(item.json)) {\n    for (const ev of item.json) {\n      all.push({ json: ev });\n    }\n  } else if (item.json && item.json.id) {\n    all.push({ json: item.json });\n  }\n}\n\nreturn all;"
      }
    },
    {
      "id": "8",
      "name": "Filter Today",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "functionCode": "const now = new Date();\nconst todayY = now.getFullYear();\nconst todayM = now.getMonth();\nconst todayD = now.getDate();\n\nconst out = [];\n\nfor (const item of items) {\n  const ev = item.json;\n  if (!ev.commence_time) continue;\n\n  const t = new Date(ev.commence_time);\n\n  if (\n    t.getFullYear() === todayY &&\n    t.getMonth() === todayM &&\n    t.getDate() === todayD &&\n    t > now\n  ) {\n    out.push({ json: ev });\n  }\n}\n\nreturn out;"
      }
    },
    {
      "id": "9",
      "name": "Find Value Bets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ],
      "parameters": {
        "functionCode": "const minEdge = 0.03;      // 3% minimum\nconst maxOdds = 5.0;       // éviter les énormes longshots\nconst minBooks = 3;\n\nconst picks = [];\n\nfor (const { json: ev } of items) {\n  if (!ev.bookmakers || ev.bookmakers.length < minBooks) continue;\n\n  const outcomesMap = {};\n\n  for (const b of ev.bookmakers) {\n    const h2h = (b.markets || []).find(m => m.key === 'h2h');\n    if (!h2h || !h2h.outcomes) continue;\n\n    for (const o of h2h.outcomes) {\n      if (!outcomesMap[o.name]) outcomesMap[o.name] = [];\n      outcomesMap[o.name].push({\n        price: o.price,\n        bookmaker: b.title || b.key,\n      });\n    }\n  }\n\n  for (const [name, offers] of Object.entries(outcomesMap)) {\n    if (offers.length < minBooks) continue;\n\n    const best = offers.reduce((a, b) => (a.price > b.price ? a : b));\n    const avgOdds = offers.reduce((sum, o) => sum + o.price, 0) / offers.length;\n\n    if (avgOdds <= 0) continue;\n    const fairProb = 1 / avgOdds;\n    const evValue = best.price * fairProb - 1;\n\n    if (evValue >= minEdge && best.price <= maxOdds) {\n      picks.push({\n        match: `${ev.home_team} - ${ev.away_team}`,\n        start_time: ev.commence_time,\n        selection: name,\n        best_odds: best.price,\n        bookmaker: best.bookmaker,\n        avg_odds: Number(avgOdds.toFixed(2)),\n        edge: Number((evValue * 100).toFixed(1)),\n      });\n    }\n  }\n}\n\npicks.sort((a, b) => b.edge - a.edge);\n\nreturn picks.map(p => ({ json: p }));"
      }
    },
    {
      "id": "10",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2500,
        300
      ],
      "parameters": {
        "functionCode": "if (items.length === 0) {\n  return [{\n    json: {\n      subject: 'Débrief foot du jour - Aucun value bet clair',\n      html: `<p>Aucun spot avec edge ≥ 3% détecté ce matin.</p>\n<p>Tu peux ajuster les critères dans n8n pour élargir ou resserrer la sélection.</p>`\n    }\n  }];\n}\n\nlet html = `\n<h2>Débrief Foot - Value bets du jour</h2>\n<p>Sélection automatique basée sur l'écart de cotes entre bookmakers (edge ≥ 3%).<br>\nOutil d'analyse uniquement, sans garantie de gain.</p>\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n  <tr>\n    <th>Match</th>\n    <th>Heure (UTC)</th>\n    <th>Sélection</th>\n    <th>Meilleure cote</th>\n    <th>Book</th>\n    <th>Cote moyenne</th>\n    <th>Edge estimé</th>\n  </tr>\n`;\n\nfor (const { json: p } of items) {\n  html += `\n  <tr>\n    <td>${p.match}</td>\n    <td>${p.start_time}</td>\n    <td>${p.selection}</td>\n    <td>${p.best_odds}</td>\n    <td>${p.bookmaker}</td>\n    <td>${p.avg_odds}</td>\n    <td>${p.edge}%</td>\n  </tr>\n  `;\n}\n\nhtml += `\n</table>\n<p style=\"font-size:12px;color:#666;\">\nAnalyse auto sur base des cotes pre-match. À utiliser avec gestion de bankroll et validation humaine.\n</p>\n`;\n\nreturn [{\n  json: {\n    subject: 'Débrief foot du jour - ' + items.length + ' value bets détectés',\n    html\n  }\n}];"
      }
    },
    {
      "id": "11",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2750,
        300
      ],
      "parameters": {
        "fromEmail": "",
        "toEmail": "louraoux@gmail.com",
        "subject": "={{$json[\"subject\"]}}",
        "html": "={{$json[\"html\"]}}"
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Get Soccer Sports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Soccer Sports": {
      "main": [
        [
          {
            "node": "Filter Leagues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Leagues": {
      "main": [
        [
          {
            "node": "Split Leagues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leagues": {
      "main": [
        [
          {
            "node": "Get Odds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Odds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Odds": {
      "main": [
        [
          {
            "node": "Split Leagues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Odds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Odds": {
      "main": [
        [
          {
            "node": "Flatten Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Events": {
      "main": [
        [
          {
            "node": "Filter Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today": {
      "main": [
        [
          {
            "node": "Find Value Bets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Value Bets": {
      "main": [
        [
          {
            "node": "Build Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "Europe/Paris"
  },
  "versionId": "v1"
}
